.glyph {
  font-size: 52px;
}
.glyph fieldset,
.glyph .fs0 {
  display: none;
}
.glyph span {
  display: block;
  text-align: center;
}
.glyph .pbs {
  float: left;
  height: 80px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #999;
}
.glyph .mls {
  font-size: 12px;
}
pre {
  overflow: auto;
  max-height: 500px;
}
code {
  display: block;
  padding: 5px;
  background-color: #f2f2f2;
}
tabs {
  display: block;
}
tab {
  display: inline-block;
}
